@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

:root {
    --body-bg-color: #22212c;
    --text-color: #837e9f;
    --bg-cards: #302f3d;
    --bg-techs: #CB92B1;

}

* {
    
    font-family: 'Merriweather Sans', sans-serif;
    
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--body-bg-color);
}
.main {
    display: flex;
    justify-content: space-around;
}

.user {
    background-color: var(--bg-cards);
    width: 200px;
    height: 150px;
    text-align:center;
    padding-top: 10%;
    border-radius:20px;
    box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.329);

}
.user > img {
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 3px solid rgb(6, 236, 6)

}
.social {
    background-color:var(--bg-cards);
    margin-top: 15%;
    border-radius:20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
}
ul {
    padding: 20px
}
ul > li {
    list-style-type: none;
    padding-top: 10px;
}

.master-div {
    display: flex;
    flex-direction: column;
}
.project {
    display: flex;
    flex-direction: column;
}
