@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

:root {
    --body-bg-color: #22212c;
    --text-color: #837e9f;
    --bg-cards: #302f3d;
    --bg-techs: #CB92B1;

}

* {
    
    font-family: 'Merriweather Sans', sans-serif;
    
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    background-color: var(--body-bg-color);
    
    
}
.main {
    display: flex;
    justify-content: space-around;
}

.user {
    background-color: var(--bg-cards);
    margin-top: 10%;
    border-radius:20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.user > img {
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 3px solid rgb(6, 236, 6)

}

.social {
    background-color:var(--bg-cards);
    margin-top: 10%;
    border-radius:20px;
    
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
}
.listStyle {
    display: flex;
    list-style-type: none;
    align-items:center;
    margin-top: 5%;
}
.listStyle > li{
    margin-left: 10px;
}

.listStyle > li > a:hover {
    color:#837e9f1a;
}

.tecnologia {
    background-color: var(--bg-cards);
    margin-top: 10%;
    border-radius:20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
    padding: 10px;
}
h4,h3 {
    margin-left: 10px;
}
.tecnologia > ul > li > span {
    background-color: var(--bg-techs);
    padding: 5px;
    border-radius: 10px;
    color: black;
    
}
.expecience {
    background-color: var(--bg-cards);
    margin-top: 10%;
    border-radius:20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
    padding: 10px;
}
.expecience-list {
    list-style-type: square;
    font-size: 18px;
}
.education {
    background-color: var(--bg-cards);
    margin-top: 10%;
    border-radius:20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
    padding: 10px;
      
}
.education-list {
    font-size: 18px;
    list-style-type: square;
    
}

ul {
    padding: 20px;
    
}
.tecnologia-ul {
    display: flex;
    margin: 10px;
}

ul > li {
    margin:5px;
    list-style-type: none;
    padding-top: 10px;
    font-size: 13px;
}

.master-div {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* modificado */  
    margin-top: 1.6%;
}

.myProject {
    background-color: var(--bg-cards);
    
    border-radius:20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 70vw;
    align-items: center;

}
.newProject {
    background-color: var(--bg-cards);
    display: flex;
    flex-direction:column;
    height: 15vh;
    width: 70vw;
    text-align: justify;
    padding: 10px;
    margin: 10px;
    border-radius:10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
}
.svgFolder {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.coment {
    margin-top: 20px;
    display: flex;

}
.svgStar {
    display: flex;
    align-items: center;
    
}
.svgStar img{
    padding-right: 10px;
}
.svgbranch {
    display: flex;
    align-items: center;
    
    padding-left: 10px;
    
}
.svgbranch > p {
    padding-left: 10px;
}



.posts {
    background-color: var(--bg-cards);
    height:80px;
    height: 11vh;
    width: 71vw;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
    border-radius:20px;
    

}
.posts > h3 {
    margin-top:20px
}

.postProject {
    display: flex;
    width: 72vw;

}
.newPost {
    background-color: var(--bg-cards);
    display: flex;
    width: 70vw;
    height: 150px;
    margin: 10px;
    padding:10px;
    align-items: center;
    border-radius:30px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
}
.newPost > img {
    width: 100px;
    height: 100px;
    border-radius:50%;
    margin-left: 10px;

}
.post-Coment {
    margin-left: 20px;
    
}
.post-Coment p {
    margin-left: 20px;
}

footer {
    margin-top:20px ;

    text-align: center;
    background-color: black;
}